body {
  font-family: "Work Sans", sans-serif;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.display-flex {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 40px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.08);
}

/* dark 01 */
.text-black {
  color: #131313;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
/* dark 04 */
.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}
.brand {
  font-size: 45px;
  font-weight: 700;
}
.banner-content {
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-size: 64px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}
.banner-image {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 55px;
}
.team-features {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  gap: 73px;
}
.right {
  display: grid;
  gap: 12px;

  grid-template-columns: repeat(2, 1fr);
}
.left-content {
  padding-top: 202px;
}
.left-content h4 {
  margin: 0 0 24px 0;
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  #quick-list {
    font-size: 45px;
    font-weight: 500;
    color: #727272;
  }
  .features {
    font-size: 45px;
    font-weight: 700;
    color: #ff900e;
  }
}
.left-content p {
  font-size: 11px;
  font-weight: 400;
  color: #727272;
  padding-bottom: 32px;
}

.features{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  gap: 54px;
}
.features-wrapper h5{
  font-size: 43px;
  font-weight: 700;
  color: #131313;
}
.features-wrapper .intro{
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.card-item {
 box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 32px;
  background-color: #ffffff;
  max-width: 586px;
}
.card-item h6 {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 8px
}
.card-item p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.facts-container {
  max-width: 1140px;
  margin: 0 auto;

}